<ng-container *ngIf="username">
  <div class="messages-wrapper">
    <button
      type="button"
      class="message-button"
      [title]="'messages' | translate"
      (click)="toggleMessages()"
    >
      <i class="bi bi-chat-dots"></i>
      <span *ngIf="unreadCount" class="message-badge">
        {{ unreadCount }}
      </span>
    </button>

    <div *ngIf="isOpen" class="messages-menu">
      <div class="messages-header">
        <strong>{{ 'messages' | translate }}</strong>
      </div>

      <div *ngIf="isLoading" class="messages-list">
        <app-skeleton-list-item
          *ngFor="let placeholder of [1, 2, 3]"
          [compact]="true"
          avatarShape="circle"
          avatarSize="34px"
          [lineWidths]="['85%', '25%']"
          [actionCount]="0"
        ></app-skeleton-list-item>
      </div>

      <div *ngIf="!isLoading && messages.length" class="messages-list">
        <div
          class="message-item"
          *ngFor="let message of messages"
          [class.unread]="hasUnreadMessages(message)"
          [class.new-message]="isHighlightedMessage(message)"
          (click)="openMessage(message)"
        >
          <div class="message-item-avatar">
            <ng-container *ngIf="message.imageUrl && message.imageUrl !== 'default-group.png' && message.imageUrl !== 'default-profile.png'; else defaultAvatar">
              <img [src]="message.imageUrl" [alt]="message.title" class="avatar-image" />
            </ng-container>
            <ng-template #defaultAvatar>
              <div class="default-avatar">
                <i class="bi" [ngClass]="message.fallbackIcon"></i>
              </div>
            </ng-template>
            <span *ngIf="shouldShowPresenceDot(message)" class="message-presence-dot"></span>
          </div>

          <div class="message-item-body">
            <div class="message-item-topline">
              <strong class="group-name">{{ message.title }}</strong>
              <span *ngIf="message.unreadCount" class="message-unread-count">{{ message.unreadCount }}</span>
            </div>
            <p *ngIf="message.subtitle" class="sender-name">{{ message.subtitle }}</p>
            <p class="message-preview">{{ message.preview }}</p>
            <span class="message-time">{{ message.createdAt | relativeTime:true }}</span>
          </div>
        </div>
      </div>

      <div *ngIf="!isLoading && !messages.length" class="messages-empty">
        {{ 'noMessageNotifications' | translate }}
      </div>
    </div>
  </div>
</ng-container>
