<div class="admin-select" [class.disabled]="disabled">
  <button
    type="button"
    class="form-select admin-select-trigger"
    (click)="toggle()"
    [attr.aria-expanded]="isOpen"
    [disabled]="disabled"
  >
    {{ selectedLabel }}
  </button>

  <div class="dropdown-menu admin-select-menu" [class.show]="isOpen" *ngIf="isOpen">
    <button
      type="button"
      class="dropdown-item"
      *ngFor="let option of options"
      [class.active]="option.value === value"
      (click)="select(option)"
    >
      {{ option.label }}
    </button>
  </div>
</div>
