<nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
  <div class="container-fluid custom-navbar-container">
    <div class="mobile-navbar-topline">
      <a class="navbar-brand" routerLink="/home" style="font-weight: bold">
        {{ 'appTitle' | translate }}
      </a>

      <div class="mobile-navbar-actions d-lg-none">
        <app-notification-dropdown *ngIf="username" mode="mobile"></app-notification-dropdown>
        <app-message-dropdown *ngIf="username" mode="mobile"></app-message-dropdown>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          [attr.aria-label]="'toggleNavigation' | translate"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" routerLinkActive="active">
            {{ 'home' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sports-arenas" routerLinkActive="active">
            {{ 'sportsFields' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">
            {{ 'users' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/groups" routerLinkActive="active">
            {{ 'groups' | translate }}
          </a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">
            Admin
          </a>
        </li>
      </ul>

      <div class="ms-auto text-white navbar-actions" style="font-weight: 500" *ngIf="username">
        <app-notification-dropdown
          class="d-none d-lg-block"
          mode="desktop"
          (opened)="closeProfileDropdown()"
        ></app-notification-dropdown>
        <app-message-dropdown
          class="d-none d-lg-block"
          mode="desktop"
          (opened)="closeProfileDropdown()"
        ></app-message-dropdown>

        <div class="dropdown d-none d-lg-block">
          <a
            class="nav-link d-flex align-items-center"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="ms-2">{{ 'welcome' | translate }}, {{ username }}</span>
            <ng-container *ngIf="profileImageUrl; else defaultIcon">
              <img
                [src]="profileImageUrl"
                (error)="handleImageError()"
                [alt]="'profilePicture' | translate"
                class="profile-img rounded-circle"
              />
            </ng-container>
            <ng-template #defaultIcon>
              <div class="default-profile-img">
                <i class="bi bi-person" style="font-size: 1rem; color: #aaa;"></i>
              </div>
            </ng-template>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
              <a class="dropdown-item" routerLink="/profile">{{ 'profile' | translate }}</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/my-reservations">{{ 'myReservations' | translate }}</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/settings">{{ 'settings' | translate }}</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="logout()" style="cursor: pointer">
                {{ 'logout' | translate }}
              </a>
            </li>
          </ul>
        </div>

        <div class="d-lg-none mobile-profile-menu" #mobileProfileMenuWrapper>
          <span class="nav-link mobile-profile-toggle" role="button" (click)="toggleDropdown()">
            {{ 'welcome' | translate }}, {{ username }}
            <i class="bi bi-caret-down-fill"></i>
          </span>
          <ul
            class="list-group mt-2 mobile-profile-dropdown"
            [ngClass]="{ 'd-block': isDropdownOpen, 'd-none': !isDropdownOpen }"
          >
            <li class="list-group-item">
              <a class="nav-link" routerLink="/profile">{{ 'profile' | translate }}</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link" routerLink="/my-reservations">{{ 'myReservations' | translate }}</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link" routerLink="/settings">{{ 'settings' | translate }}</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link" (click)="logout()" style="cursor: pointer">
                {{ 'logout' | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
