<div class="city-autocomplete form-floating">
  <input
    #inputEl
    [id]="id"
    type="text"
    class="form-control"
    autocomplete="one-time-code"
    [value]="value"
    [disabled]="disabled"
    [placeholder]="'groupCity' | translate"
    (input)="onInput($any($event.target).value)"
    (focus)="onFocus()"
    (blur)="onBlur()"
  />
  <label [attr.for]="id">{{ 'groupCity' | translate }}</label>

  <div class="city-autocomplete-menu" *ngIf="showSuggestions">
    <div *ngIf="!citiesLoaded" class="city-autocomplete-status">
      {{ 'loading' | translate }}
    </div>
    <div *ngIf="citiesLoaded && !filteredCities.length" class="city-autocomplete-status">
      {{ 'noCitiesFound' | translate }}
    </div>
    <button
      type="button"
      class="city-autocomplete-option"
      *ngFor="let city of filteredCities"
      (click)="selectCity(city)"
    >
      {{ city.name }}, {{ city.canton }}
    </button>
  </div>
</div>
